header {
	position: absolute;
	z-index: 1;
	top: 0;
	width: 100%;
	padding: 1.5rem 5vw;
}

nav {
	display: flex;
	justify-content: flex-end;
	gap: 1.5rem;
	font-size: 0.9rem;
}

main {
	overflow: hidden;
}

section {
	min-height: 70vh;
	padding: 7rem 8vw;
}

@media (min-width: 768px) {
	section {
		min-height: 100vh;
	}
}
